<!DOCTYPE HTML>
<html >
<head>
<!--    <title th:text="${title}"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
<!--    <link rel="stylesheet" th:href="@{/css/cover.css}"/>-->
    <script src="webjars/jquery/jquery.min.js"></script>
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Clicker</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome!</h1>
        <button class="lead">
           Click me!
        </button>
    </main>

<!--    <footer class="mastfoot mt-auto" th:insert="blocks/footer"></footer>-->
</div>
</body>

</html>